In [1]:
import pandas as pd
from sklearn.externals import joblib
import re
import string

In [2]:
qid_list=joblib.load('questions_id_list.pkl.gz')

In [3]:
questions=pd.read_csv('Questions.csv',skipinitialspace=True,encoding='latin-1')

In [4]:
questions.shape

(1264216, 7)

In [5]:
questions['Id'].nunique()

1264216

In [6]:
questions=questions.set_index('Id')

In [7]:
questions.head(2)

,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
Id,,,,,,
80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...

In [8]:
questions_filtered=questions.loc[qid_list,:]

In [9]:
del questions
import gc
gc.collect()

28

In [10]:
questions_filtered.Body=questions_filtered.Body+' '+questions_filtered.Title

In [11]:
questions_filtered=questions_filtered.drop(['Title','OwnerUserId','CreationDate','Score','ClosedDate'],axis=1)

In [12]:
questions_filtered.shape

(986641, 1)

In [13]:
from bs4 import BeautifulSoup

In [14]:
punctuations_and_digits=string.punctuation+'0123456789'
trans=str.maketrans(punctuations_and_digits,' '*len(punctuations_and_digits))

In [15]:
questions_filtered=questions_filtered.applymap(lambda x:' '.join(BeautifulSoup(x.lower()).findAll(text=True)).translate(trans))

In [16]:
questions_filtered.head(5)

                                                  Body
Id
120  has anyone got experience creating  sql based ...
260  i have a little game written in c   it uses a ...
330  i am working on a collection of classes used f...
470  i ve been writing a few web services for a  ne...
580  i wonder how you guys manage deployment of a d...

In [17]:
joblib.dump(list(questions_filtered['Body']),'questions_filtered.pkl.gz',compress=9)

['questions_filtered.pkl.gz']